<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-hijoc">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `componente-hijoc`
     * componente-hijoc
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteHijoc extends Polymer.Element {
      static get is() { return 'componente-hijoc'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'componente-hijoc'
          }
        };
      }
    }

    window.customElements.define(ComponenteHijoc.is, ComponenteHijoc);
  </script>
</dom-module>
