<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-hijoc">
  <template>
    <style>
      :host {
        display: block;
      }
      table, thead, tr, th ,td {
        border: 1px solid #303033;
      }
    </style>
    <h2>[[prop1]]</h2>
    <section class="tablaDatos">
      <article>
        <table>
          <thead>
            <tr>
              <th>Item 1</th>
              <th>Item 2</th>
              <th>Item 3</th>
              <th>Item 4</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Datos</td>
              <td>Datos</td>
              <td>Datos</td>
              <td>Datos</td>
            </tr>
            <tr>
              <td>Datos</td>
              <td>Datos</td>
              <td>Datos</td>
              <td>Datos</td>
            </tr>
            <tr>
              <td>Datos</td>
              <td>Datos</td>
              <td>Datos</td>
              <td>Datos</td>
            </tr>
            <tr>
              <td>Datos</td>
              <td>Datos</td>
              <td>Datos</td>
              <td>Datos</td>
            </tr>
          </tbody>
        </table>
      </article>
    </section>
  </template>

  <script>
    /**
     * `componente-hijoc`
     * componente-hijoc
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteHijoc extends Polymer.Element {
      static get is() { return 'componente-hijoc'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Tabla con datos'
          }
        };
      }
    }

    window.customElements.define(ComponenteHijoc.is, ComponenteHijoc);
  </script>
</dom-module>
